<f:section name="data">
    data-lsoptions-uid="{slider.uid}"
    <f:if condition="{slider.options.type}">data-type="{slider.options.type}"</f:if>
    <f:if condition="{slider.options.responsiveUnder}">data-responsive-under="{slider.options.responsiveUnder}"</f:if>
    <f:if condition="{slider.options.fullSizeMode}">data-full-size-mode="{slider.options.fullSizeMode}"</f:if>
    <f:if condition="{slider.options.fitScreenWidth}"><f:then>data-fit-screen-width="true"</f:then><f:else>data-fit-screen-width="false"</f:else></f:if>
    <f:if condition="{slider.options.allowFullscreen}"><f:then>data-allow-fullscreen="true"</f:then><f:else>data-allow-fullscreen="false"</f:else></f:if>
    <f:if condition="{slider.options.maxRatio}">data-max-ratio="{slider.options.maxRatio}"</f:if>
    <f:if condition="{slider.options.insertMethod}">data-insert-method="{slider.options.insertMethod}"</f:if>
    <f:if condition="{slider.options.insertSelector}">data-insert-selector="{slider.options.insertSelector}"</f:if>
    <f:if condition="{slider.options.clipSlideTransition}">data-clip-slide-transition="{slider.options.clipSlideTransition}"</f:if>
    <f:if condition="{slider.options.preventSliderClip}"><f:then>data-prevent-slider-clip="true"</f:then><f:else>data-prevent-slider-clip="false"</f:else></f:if>
    <f:if condition="{slider.options.hideOnMobile}"><f:then>data-hide-on-mobile="true"</f:then><f:else>data-hide-on-mobile="false"</f:else></f:if>
    <f:if condition="{slider.options.hideUnder}">data-hide-under="{slider.options.hideUnder}"</f:if>
    <f:if condition="{slider.options.slideOnSwipe}"><f:then>data-slide-on-swipe="true"</f:then><f:else>data-slide-on-swipe="false"</f:else></f:if>
    <f:if condition="{slider.options.optimizeForMobile}"><f:then>data-optimize-for-mobile="true"</f:then><f:else>data-optimize-for-mobile="false"</f:else></f:if>
    <f:if condition="{slider.options.firstSlide}">data-first-slide="{slider.options.firstSlide}"</f:if>
    <f:if condition="{slider.options.autoStart}"><f:then>data-auto-start="true"</f:then><f:else>data-auto-start="false"</f:else></f:if>
    <f:if condition="{slider.options.startInViewport}"><f:then>data-start-in-viewport="true"</f:then><f:else>data-start-in-viewport="false"</f:else></f:if>
    <f:if condition="{slider.options.pauseOnHover}">data-pause-onhover="{slider.options.pauseOnHover}"</f:if>
    <f:if condition="{slider.options.pauseLayers}"><f:then>data-pause-layers="true"</f:then><f:else>data-pause-layers="false"</f:else></f:if>
    <f:if condition="{slider.options.keybNav}"><f:then>data-keyb-nav="true"</f:then><f:else>data-keyb-nav="false"</f:else></f:if>
    <f:if condition="{slider.options.touchNav}"><f:then>data-touch-nav="true"</f:then><f:else>data-touch-nav="false"</f:else></f:if>
    <f:if condition="{slider.options.playByScroll}"><f:then>data-play-by-scroll="true"</f:then><f:else>data-play-by-scroll="false"</f:else></f:if>
    <f:if condition="{slider.options.playByScrollSpeed}">data-play-by-scroll-speed="{slider.options.playByScrollSpeed}"</f:if>
    <f:if condition="{slider.options.cycles}">data-cycles="{slider.options.cycles}"</f:if>
    <f:if condition="{slider.options.forceCycles}"><f:then>data-force-cycles="true"</f:then><f:else>data-force-cycles="false"</f:else></f:if>
    <f:if condition="{slider.options.twoWaySlideshow}"><f:then>data-two-way-slideshow="true"</f:then><f:else>data-two-way-slideshow="false"</f:else></f:if>
    <f:if condition="{slider.options.shuffleSlideshow}"><f:then>data-shuffle-slideshow="true"</f:then><f:else>data-shuffle-slideshow="false"</f:else></f:if>
    <f:if condition="{slider.options.skin}">data-skin="{slider.options.skin}"</f:if>
    <f:if condition="{slider.options.skinsPath}"><f:then>data-skins-path="{slider.options.skinsPath}"</f:then><f:else>data-skins-path="{settings.skinsPath}"</f:else></f:if>
    <f:if condition="{slider.options.sliderFadeInDuration}">data-slider-fade-in-duration="{slider.options.sliderFadeInDuration}"</f:if>
    <f:if condition="{slider.options.globalBGColor}">data-global-b-g-color="{slider.options.globalBGColor}"</f:if>
    <f:if condition="{slider.options.globalBGImage}">data-global-b-g-image="{slider.options.globalBGImage}"</f:if>
    <f:if condition="{slider.options.globalBGRepeat}">data-global-b-g-repeat="{slider.options.globalBGRepeat}"</f:if>
    <f:if condition="{slider.options.globalBGAttachment}">data-global-b-g-attachment="{slider.options.globalBGAttachment}"</f:if>
    <f:if condition="{slider.options.globalBGPosition}">data-global-b-g-position="{slider.options.globalBGPosition}"</f:if>
    <f:if condition="{slider.options.globalBGSize}">data-global-b-g-size="{slider.options.globalBGSize}"</f:if>
    <f:if condition="{slider.options.navPrevNext}"><f:then>data-nav-prev-next="true"</f:then><f:else>data-nav-prev-next="false"</f:else></f:if>
    <f:if condition="{slider.options.navStartStop}"><f:then>data-nav-start-stop="true"</f:then><f:else>data-nav-start-stop="false"</f:else></f:if>
    <f:if condition="{slider.options.navButtons}"><f:then>data-nav-buttons="true"</f:then><f:else>data-nav-buttons="false"</f:else></f:if>
    <f:if condition="{slider.options.hoverPrevNext}"><f:then>data-hover-prev-next="true"</f:then><f:else>data-hover-prev-next="false"</f:else></f:if>
    <f:if condition="{slider.options.hoverBottomNav}"><f:then>data-hover-bottom-nav="{slider.options.hoverBottomNav}"</f:then><f:else>data-hover-bottom-nav="false"</f:else></f:if>
    <f:if condition="{slider.options.showBarTimer}"><f:then>data-show-bar-timer="true"</f:then><f:else>data-show-bar-timer="false"</f:else></f:if>
    <f:if condition="{slider.options.showCircleTimer}"><f:then>data-show-circle-timer="true"</f:then><f:else>data-show-circle-timer="false"</f:else></f:if>
    <f:if condition="{slider.options.showSlideBarTimer}"><f:then>data-show-slide-bar-timer="true"</f:then><f:else>data-show-slide-bar-timer="false"</f:else></f:if>
    <f:if condition="{slider.options.thumbnailNavigation}">data-thumbnail-navigation="{slider.options.thumbnailNavigation}"</f:if>
    <f:if condition="{slider.options.tnContainerWidth}">data-tn-container-width="{slider.options.tnContainerWidth}"</f:if>
    <f:if condition="{slider.options.tnWidth}">data-tn-width="{slider.options.tnWidth}"</f:if>
    <f:if condition="{slider.options.tnHeight}">data-tn-height="{slider.options.tnHeight}"</f:if>
    <f:if condition="{slider.options.tnActiveOpacity}">data-tn-active-opacity="{slider.options.tnActiveOpacity}"</f:if>
    <f:if condition="{slider.options.tnInactiveOpacity}">data-tn-inactive-opacity="{slider.options.tnInactiveOpacity}"</f:if>
    <f:if condition="{slider.options.autoPlayVideos}"><f:then>data-auto-play-videos="true"</f:then><f:else>data-auto-play-videos="false"</f:else></f:if>
    <f:if condition="{slider.options.autoPauseSlideshow}">data-auto-pause-slideshow="{slider.options.autoPauseSlideshow}"</f:if>
    <f:if condition="{slider.options.youtubePreview}">data-youtube-preview="{slider.options.youtubePreview}"</f:if>
    <f:if condition="{slider.options.yourLogo}">data-your-logo="{slider.options.yourLogo}"</f:if>
    <f:if condition="{slider.options.yourLogoStyle}">data-your-logo-style="{slider.options.yourLogoStyle}"</f:if>
    <f:if condition="{slider.options.yourLogoLink}">data-your-logo-link="{slider.options.yourLogoLink}"</f:if>
    <f:if condition="{slider.options.yourLogoTarget}">data-your-logo-target="{slider.options.yourLogoTarget}"</f:if>
    <f:if condition="{slider.options.slideBGSize}">data-slide-b-g-size="{slider.options.slideBGSize}"</f:if>
    <f:if condition="{slider.options.slideBGPosition}">data-slide-b-g-position="{slider.options.slideBGPosition}"</f:if>
    <f:if condition="{slider.options.parallaxSensitivity}">data-parallax-sensitivity="{slider.options.parallaxSensitivity}"</f:if>
    <f:if condition="{slider.options.parallaxCenterLayers}">data-parallax-center-layers="{slider.options.parallaxCenterLayers}"</f:if>
    <f:if condition="{slider.options.parallaxCenterDegree}">data-parallax-center-degree="{slider.options.parallaxCenterDegree}"</f:if>
    <f:if condition="{slider.options.parallaxScrollReverse}"><f:then>data-parallax-scroll-reverse="true"</f:then><f:else>data-parallax-scroll-reverse="false"</f:else></f:if>
    <f:if condition="{slider.options.forceLayersOutDuration}">data-force-layers-out-duration="{slider.options.forceLayersOutDuration}"</f:if>
    <f:if condition="{slider.options.allowRestartOnResize}"><f:then>data-allow-restart-on-resize="true"</f:then><f:else>data-allow-restart-on-resize="false"</f:else></f:if>
    <f:if condition="{slider.options.useSrcset}"><f:then>data-use-srcset="true"</f:then><f:else>data-use-srcset="false"</f:else></f:if>
</f:section>

