<f:section name="data">
{f:if(condition: '{s.configuration.bgsize}', then:'bgsize: {s.configuration.bgsize};')}
{f:if(condition: '{s.configuration.bgposition}', then:'bgposition: {s.configuration.bgposition};')}
{f:if(condition: '{s.configuration.bgcolor}', then:'bgcolor: {s.configuration.bgcolor};')}
{f:if(condition: '{s.configuration.duration}', then:'duration: {s.configuration.duration};', else:'duration:4000;')}
{f:if(condition: '{s.configuration.transitionduration}', then:'transitionduration: {s.configuration.transitionduration};')}
{f:if(condition: '{s.configuration.kenburnszoom}', then:'kenburnszoom: {s.configuration.kenburnszoom};')}
{f:if(condition: '{s.configuration.kenburnsscale}', then:'kenburnsscale: {s.configuration.kenburnsscale};')}
{f:if(condition: '{s.configuration.kenburnsrotate}', then:'kenburnsrotate: {s.configuration.kenburnsrotate};')}
{f:if(condition: '{s.configuration.parallaxtype}', then:'parallaxtype: {s.configuration.parallaxtype};')}
{f:if(condition: '{s.configuration.parallaxevent}', then:'parallaxevent: {s.configuration.parallaxevent};')}
{f:if(condition: '{s.configuration.parallaxaxis}', then:'parallaxaxis: {s.configuration.parallaxaxis};')}
{f:if(condition: '{s.configuration.parallaxtransformorigin}', then:'parallaxaxis: {s.configuration.parallaxtransformorigin};')}
{f:if(condition: '{s.configuration.parallaxdurationmove}', then:'parallaxdurationmove: {s.configuration.parallaxdurationmove};')}
{f:if(condition: '{s.configuration.parallaxdurationleave}', then:'parallaxdurationleave: {s.configuration.parallaxdurationleave};')}
{f:if(condition: '{s.configuration.parallaxdistance}', then:'parallaxdistance: {s.configuration.parallaxdistance};')}
{f:if(condition: '{s.configuration.parallaxrotate}', then:'parallaxrotate: {s.configuration.parallaxrotate};')}
{f:if(condition: '{s.configuration.parallaxtransformperspective}', then:'parallaxtransformperspective: {s.configuration.parallaxtransformperspective};')}
{f:if(condition: '{s.configuration.deeplink}', then:'deeplink: {s.configuration.deeplink};')}
{f:if(condition: '{s.configuration.use2d3dtransition}', then:'transition2d: {s.configuration.2dtransition};')}
{f:if(condition: '{s.configuration.use2d3dtransition}', then:'transition3d: {s.configuration.3dtransition};')}
</f:section>
