
<div class="panel panel-primary layer-settings-page-{slide.uid}" data-uid="149">
    <div class="panel-heading" title="uid:149">
        Layer
    </div>
    <div class="panel-body">
        <div class="panel-group" id="accordion-transition-{slide.uid}-149" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="hcollapse-{slide.uid}-149-base">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion-transition-{slide.uid}-149" href="#collapse-{slide.uid}-149-base" aria-expanded="true" aria-controls="collapse-{slide.uid}-149-base">
                            <f:translate key="partial.item.singleitem.tabs.basic" />
                        </a>
                    </h4>
                </div>
                <div id="collapse-{slide.uid}-149-base" class="panel-collapse collapse" role="tabpanel" aria-labelledby="hcollapse-{slide.uid}-149-base">
                    <div class="panel-body">
                        <f:image src="EXT:layerslider/Resources/Public/Backend/img/lex01.png" alt="" title="" class="img-responsive"/>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="hcollapse-{slide.uid}-149-styles">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion-transition-{slide.uid}-149" href="#collapse-{slide.uid}-149-styles" aria-expanded="true" aria-controls="collapse-{slide.uid}-149-styles">
                            <f:translate key="partial.item.singleitem.tabs.style" />
                        </a>
                    </h4>
                </div>
                <div id="collapse-{slide.uid}-149-styles" class="panel-collapse collapse" role="tabpanel" aria-labelledby="hcollapse-{slide.uid}-149-styles">
                    <div class="panel-body">
                        <f:image src="EXT:layerslider/Resources/Public/Backend/img/lex02.png" alt="" title="" class="img-responsive"/>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" style="background: #EFCB92; color: #333;" role="tab" id="hcollapse-{slide.uid}-149-1">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion-transition-{slide.uid}-149" href="#collapse-{slide.uid}-149-1" aria-expanded="true" aria-controls="collapse-{slide.uid}-149-1">
                            <f:translate key="partial.slide.singleitem.tabs.layers.transitions.opening" />
                        </a>
                    </h4>
                </div>
                <div id="collapse-{slide.uid}-149-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="hcollapse-{slide.uid}-149-1">
                    <div class="panel-body">
                        <f:image src="EXT:layerslider/Resources/Public/Backend/img/lex03.png" alt="" title="" class="img-responsive"/>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" style="background: #8A87D7; color: #FFF;" role="tab" id="hcollapse-{slide.uid}-149-textopening">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion-transition-{slide.uid}-149" href="#collapse-{slide.uid}-149-textopening" aria-expanded="true" aria-controls="collapse-{slide.uid}-149-textopening">
                            <f:translate key="partial.slide.singleitem.tabs.layers.transitions.textopening" />
                        </a>
                    </h4>
                </div>
                <div id="collapse-{slide.uid}-149-textopening" class="panel-collapse collapse" role="tabpanel" aria-labelledby="hcollapse-{slide.uid}-149-textopening">
                    <div class="panel-body">
                        <f:image src="EXT:layerslider/Resources/Public/Backend/img/lex04.png" alt="" title="" class="img-responsive"/>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" style="background: #51ACD6; color: #FFFFFF;" role="tab" id="hcollapse-{slide.uid}-149-2">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion-transition-{slide.uid}-149" href="#collapse-{slide.uid}-149-2" aria-expanded="true" aria-controls="collapse-{slide.uid}-149-2">
                            <f:translate key="partial.slide.singleitem.tabs.layers.transitions.middle" />
                        </a>
                    </h4>
                </div>
                <div id="collapse-{slide.uid}-149-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="hcollapse-{slide.uid}-149-2">
                    <div class="panel-body">
                        <f:image src="EXT:layerslider/Resources/Public/Backend/img/lex05.png" alt="" title="" class="img-responsive"/>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" style="background: #8A87D7; color: #FFF;" role="tab" id="hcollapse-{slide.uid}-149-textending">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion-transition-{slide.uid}-149" href="#collapse-{slide.uid}-149-textending" aria-expanded="true" aria-controls="collapse-{slide.uid}-149-textending">
                            <f:translate key="partial.slide.singleitem.tabs.layers.transitions.textending" />
                        </a>
                    </h4>
                </div>
                <div id="collapse-{slide.uid}-149-textending" class="panel-collapse collapse" role="tabpanel" aria-labelledby="hcollapse-{slide.uid}-149-textending">
                    <div class="panel-body">
                        <f:image src="EXT:layerslider/Resources/Public/Backend/img/lex06.png" alt="" title="" class="img-responsive"/>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" style="background: #EFCB92; color: #333;" role="tab" id="hcollapse-{slide.uid}-149-3">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion-transition-{slide.uid}-149" href="#collapse-{slide.uid}-149-3" aria-expanded="true" aria-controls="collapse-{slide.uid}-149-3">
                            <f:translate key="partial.slide.singleitem.tabs.layers.transitions.ending" />
                        </a>
                    </h4>
                </div>
                <div id="collapse-{slide.uid}-149-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="hcollapse-{slide.uid}-149-3">
                    <div class="panel-body">
                        <f:image src="EXT:layerslider/Resources/Public/Backend/img/lex07.png" alt="" title="" class="img-responsive"/>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="hcollapse-{slide.uid}-149-4">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion-transition-{slide.uid}-149" href="#collapse-{slide.uid}-149-4" aria-expanded="true" aria-controls="collapse-{slide.uid}-149-4">
                            <f:translate key="partial.slide.singleitem.tabs.layers.transitions.hover" />
                        </a>
                    </h4>
                </div>
                <div id="collapse-{slide.uid}-149-4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="hcollapse-{slide.uid}-149-4">
                    <div class="panel-body">
                        <f:image src="EXT:layerslider/Resources/Public/Backend/img/lex08.png" alt="" title="" class="img-responsive"/>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="hcollapse-{slide.uid}-149-5">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion-transition-{slide.uid}-149" href="#collapse-{slide.uid}-149-5" aria-expanded="true" aria-controls="collapse-{slide.uid}-149-5">
                            <f:translate key="partial.slide.singleitem.tabs.layers.transitions.parallax" />
                        </a>
                    </h4>
                </div>
                <div id="collapse-{slide.uid}-149-5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="hcollapse-{slide.uid}-149-5">
                    <div class="panel-body">
                        <f:image src="EXT:layerslider/Resources/Public/Backend/img/lex09.png" alt="" title="" class="img-responsive"/>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="hcollapse-{slide.uid}-149-7">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion-transition-{slide.uid}-149" href="#collapse-{slide.uid}-149-7" aria-expanded="true" aria-controls="collapse-{slide.uid}-149-7">
                            <f:translate key="partial.slide.singleitem.tabs.layers.transitions.miscellaneous" />
                        </a>
                    </h4>
                </div>
                <div id="collapse-{slide.uid}-149-7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="hcollapse-{slide.uid}-149-7">
                    <div class="panel-body">
                        <f:image src="EXT:layerslider/Resources/Public/Backend/img/lex10.png" alt="" title="" class="img-responsive"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

